<!DOCTYPE html>
<html>
<body>

<div id="container" style="width:500px;">

<div id="header" style="background-color:#C0C0C0;">
<h1 style=text-align:center;font-family:arial;"> Group</h1>


<div id="menu" style="background-color:#A2BFF4;height:20px;width:500px;">
<p style=text-align:center;font-family:arial;"><b> <a href="http://www.google.com/">Profile</a></b> <a href="http://www.google.com/">Group</a> <a href="http://www.google.com/">Ratings</a></p></div>


<div id="content" style="background-color:#EEEEEE;height:200px;width:500px;float:left;">
<p </p>
<form name="input" action="html_form_action.asp" method="get">

<p style=font-family:arial;">Team Member: <input type=text name=user>

<center><p style=font-family:arial;>How did you like working with this person?<center>
{% set x = 0 %}
{% for question in qlist %}   
 <p>
   {{question}}
   <p>
   {% for number in range(10) %}
   <input type=radio name="Button {{x}}" value={{number + 1}}>{{number + 1}}</input>
   {% endfor %}
   {% set x = x + 1 %}
  <p>

{% endfor %}

<input type="submit" value="Rate"><p style=font-family:arial;></form>
