<!DOCTYPE html>
<html>
<body>

<div id="container" style="width:500px;">

<div id="header" style="background-color:#C0C0C0;">
<h1 style=text-align:center;font-family:arial;"> Group</h1>


<div id="menu" style="background-color:#A2BFF4;height:20px;width:500px;">
<p style=text-align:center;font-family:arial;"><b> <a href="http://www.google.com/">Profile</a></b> <a href="http://www.google.com/">Group</a> <a href="http://www.google.com/">Ratings</a></p></div>
{% if username %}
<p> Hello {{username}} </p>
{% endif %}

<div id="content" style="background-color:#EEEEEE;height:200px;width:500px;float:left;">
<p </p>
<form name="input" action="html_form_action.asp" method="get">
<p style=font-family:arial;"> Team Member:<input type="text" name="user"></br></br>

<center><p style=font-family:arial;>How did you like working with this person?<center>

<input type=radio name="rating" value="0">0&nbsp;
<input type=radio name="rating" value="1">1&nbsp;
<input type=radio name="rating" value="2">2&nbsp;
<input type=radio name="rating" value="3">3&nbsp;
<input type=radio name="rating" value="4">4&nbsp;
<input type=radio name="rating" value="5">5&nbsp;
<input type=radio name="rating" value="6">6&nbsp;
<input type=radio name="rating" value="7">7&nbsp;
<input type=radio name="rating" value="8">8&nbsp;
<input type=radio name="rating" value="9">9<p>

<input type="submit" value="Rate"><p style=font-family:arial;></form>
