<!DOCTYPE html>

<html>
	<head>
		<title> Home </title>
		<meta http-equiv="Content-Language" content="en-us" />
		<style type="text/css" media="all">@import "style.css";</style>
		<style type="text/css" media="screen and (max-width: 760px)">@import "mobile.css";</style>
		<script type="text/javascript" src="jquery.js"></script>
		<script type="text/javascript" src="script.js"></script>
	</head>
	<body>
		<header>
			<ul>
				<li><a href="#login">Login</a></li>
				<li><a href="#rate">Rate</a></li>
				<li><a href="#stats">Stats</a></li>
			</ul>
		</header>
		
		<div id="login">
		  <div>
			<h1>Log In With Your Email:</h1>
			<form method="POST" action="">
  				<p>Email:	<input type="text"     name="username" /> </p>
  				<p>4-Digit ID:	<input type="password" name="idnum"    /> </p>
				                <input type="submit"   value="Login"   />
			</form>
		  </div>
		</div>
		
		<div id="rate">
		  <div>

		    {% if loggedin %}
		  
		    <h1>Rate Your Groupmates:</h1>

		    <form method="POST" action="">

		      <select>
			{% for proj in projects %}
			<optgroup label="Project {{loop.index}}">
			  {% for person in groupmembers %}
			  <option value="person{{loop.index}}">{{person.first}} {{person.last}}</option>
			  {% endfor %}
			</optgroup>
			{% endfor %}
		      </select>

		      <ol>
			{% for question in questions %}
			{% set qnum loop.index %}
			<li>{{question.text}}<br />
			  {% for number in range(10) %}
			  <input type="radio" name="question{{qnum}}" value="{{number}}"> {{number}}
			  {% endfor %}
			</li>
			{% endfor %}
		      </ol>

		      <input type="submit" value="Submit Rating" />

		    </form>

		    {% endif %}

		  </div>
		</div>
		
		<div id="stats">
		  <div>
		    
		    {% if loggedin %}

		    <h1>Your Ratings:</h1>

		    <h3>Summary:</h3>

                    <dl>
		      <dt>Average Rating:</dt>
		      <dd>{{avgrating}}</dd>
		      <div style="clear:both;"></div>
		    </dl>

		    <dl>
		      <dt>Standard Deviation:</dt>
		      <dd>{{stddev}}</dd>
		      <div style="clear:both;"></div>
		    </dl>

		    <h3>Average per question:</h3>

		    <dl>
		      {% for question in questions %}
		      <dt>Question {{loop.index}}:</dt>
		      <dd>{{question.avg}}</dd> <br />
		      {% endfor %}
		      <div style="clear:both;"></div>
		    </dl>

		    {% endif %}

		  </div>    
		</div>
	</body>
</html>
