body{
    font-size: small;
    font-family: Times, serif;
    line-height: 2;
    background: #8FBC8F;
    text-align: center;
}

title{
    color: #06266F;

}

h1{
    color: #06266F;
    text-align: center;
    
}

h2{
    color: #06266F;
    text-align: center;
}

p{
    color: white;
}

label{
    color: white;
    text-transform: uppercase;
}

img{
    border: 1px solid silver;
}

input{
    color: white;
}

.submit_button{
    color: black;
}

