<!DOCTYPE html>
<html>
<body>

<div id="container" style="width:500px;">

<div id="header" style="background-color:#C0C0C0;">
<h1 style=text-align:center;font-family:arial;"> Ratings</h1>


<div id="menu" style="background-color:#A2BFF4;height:20px;width:500px;">
<p style=text-align:center;font-family:arial;"><b> <a href="http://www.google.com/">Profile</a></b> <a href="http://www.google.com/">Group</a> <a href="http://www.google.com/">Ratings</a></p></div>


<div id="content" style="background-color:#EEEEEE;height:200px;width:500px;float:left;">
<p </p>
<form name="input" action="html_form_action.asp" method="get">
<center><p style=font-family:arial;"> Your Name:<input type="text" name="user"><center>

<center><input type="submit" value="Get Ratings!"><p style=font-family:arial;><center>
</form>