<html>
	<head>
		<title>Ratebook</title>
		<style type="text/css">
		<!--
		CSS Designed by Brian Lam. Based off of the design used by the news startup 
		Pulse News (dark gray background, blue logo, light text
		-->
			body{
				font-family: "Arial";
				color:"white";
			}
			body>div{
				padding-left: 1%;
				padding-right: 1%;
				color:white;
			}
			header{
				color: #87CEFA;
			}
		</style>
	</head>
	<body bgcolor="#212121">
		<header><font size="20" color="#87CEFA">
			Ratebook
		</font></header>
		<font color="white">
		<br>
		Hello, {{name}}, you judgmental jerk
		<br>
		<br>

		<form method = "POST" action = >
		
			<br>
				Which would you like to do?<br>
				<input type = "radio" name="action" value="Rate"> Rate group members   </input>
				<br>
				<input type = "radio" name="action" value="View"> View my ratings  </input>
				<br><br>
			
				<textarea name="q5{{member}}" cols="50" rows="3">Enter comments here...</textarea> <br>
			{% endfor %}
			
			
			<br>
			<input type="submit" name="button" value="Submit">
		</form>
		</font>
		
		<br>
		<br>
		<br>
		<font size="2" color="gray">
		Ratebook is not responsible for any suicides that may occur from the use of this program. 
		</font>
		
	</body>
</html>
