<html>
	<head>
		<title>Ratebook</title>
		<style type="text/css">
			body{
				padding-left:11px;
				font-family: "Arial";
			}
		</style>
	</head>
	<body bgcolor="#E8E8E8">
		<font size="20"><b>Ratebook</b></font>
		<br>
		Hello, %Name%, you judgmental jerk
		<br>
		<br>
		
		
		<form>
			Ratee's Email:  <input type="text" name="Victimemail"><br>
			Rating: <br>
			<input type = "radio" name="rating" value=1"> 0 <br>
			<input type = "radio" name="rating" value=1"> 1 <br>
			<input type = "radio" name="rating" value=1"> 2 <br>
			<input type = "radio" name="rating" value=1"> 3 <br>
			<input type = "radio" name="rating" value=1"> 4 <br>
			<input type = "radio" name="rating" value=1"> 5 <br>
			<input type = "radio" name="rating" value=1"> 6 <br>
			<input type = "radio" name="rating" value=1"> 7 <br>
			<input type = "radio" name="rating" value=1"> 8 <br>
			<input type = "radio" name="rating" value=1"> 9 <br>
			<input type="submit" name="Submit" value="Submit">
		</form>
		
		<br>
		<br>
		<br>
		Ratebook is not responsible for any suicides that may occur from the use of this program. 
		
	</body>
</html>