<html>
	<head>
		<title>Ratebook</title>
		<style type="text/css">
			body{
				font-family: "Arial";
			}
			body>div{
				padding-left: 1%;
				padding-right: 1%;
			}
			header{
				background-color:#CCCCCC;
				color: black;
			}
		</style>
	</head>
	<body bgcolor="#E8E8E8">
		<font size="20"><b>Ratebook</b></font>
		<br>
		Hello, {{name}}, you judgmental jerk
		<br>
		<br>
		Your group members' emails are:
		<ul>
		{% for member in members %}
			<li>{{member}}
		{% endfor %}
		</ul>
		<br>
		
		
		<form method="POST">
			{% for member in members %}
			<b>Ratee's Email:  {{member}}</b> <br>
			Rating: <br>
			<input type = "radio" name="rating{{member}}" value=0"> 0 <br>
			<input type = "radio" name="rating{{member}}" value=1"> 1 <br>
			<input type = "radio" name="rating{{member}}" value=2"> 2 <br>
			<input type = "radio" name="rating{{member}}" value=3"> 3 <br>
			<input type = "radio" name="rating{{member}}" value=4"> 4 <br>
			<input type = "radio" name="rating{{member}}" value=5"> 5 <br>
			<input type = "radio" name="rating{{member}}" value=6"> 6 <br>
			<input type = "radio" name="rating{{member}}" value=7"> 7 <br>
			<input type = "radio" name="rating{{member}}" value=8"> 8 <br>
			<input type = "radio" name="rating{{member}}" value=9"> 9 <br>
			<br>
			{% endfor %}
			<input type="submit" name="Submit" value="Submit">
		</form>
		
		
		<br>
		<br>
		<br>
		<font size="1">Ratebook is not responsible for any suicides that may occur from the use of this program. </font>
		
	</body>
</html>