<!doctype HTML>
<form action="" method="post" style= "background-color:#E0FFFF">
<font color = "red" size = "6" font = "impact">
<div align = "center">
<p></p>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      {{ message }}
    {% endfor %}
</div>
</font>
  {% endif %}
{% endwith %}
{% block body %}

<body bgcolor = "#E0FFFF">
<font size = "10" face = "desdemona"  color = "green">
<div align = "center">
<p></p>
<p></p>
<b>
The Feedbackerator 
</b>
</font>

<font size = "5" face="garamond" color = "#006B00">
<p></p>
<p> Welcome! Please log in below. </p>

<font size = "4" face="garamond" color = "#006B00">
<p style="background-color:#E0FFFF">Username: <input type=text name=username>
</font>

<p style= "display: inline"><input type=submit name=button value="Post Ratings" >
<p style= "display: inline"><input type=submit name=button value="View Ratings">
</div>
</body>

{% endblock %}

</form>
