<!doctype HTML>
<form action="" method="post" style= "background-color:#E0FFFF">
<body bgcolor = "#E0FFFF">
<font size = "10" face = "desdemona"  color = "green">
<div align = "center">
<p></p>
<p></p>
<b>
The Feedbackerator 
</b>
</font>

<font size = "5" face="garamond" color = "#006B00">
<p></p>
<p> Welcome! Please log in below. </p>

<font size = "4" face="garamond" color = "#006B00">
<p style="background-color:#E0FFFF">Username: <input type=text name=username>
</font>

<p style= "display: inline"><input type=submit name=button value="Post Ratings" >
<p style= "display: inline"><input type=submit name=button value="View Ratings">
</div>
</body>
</form>