<!doctype HTML>
<form action="" method="post">

<h1>{{last}}, {{first}}</h1>

<hr>

{% for project in ratings.keys() %}
<h2> Ratings for {{project}}:</h2>


{% for groupmember in ratings[project] %}

{{ groupmember[1]}}, {{groupmember[2] }}
<p>
 
    {% set tmp = 0 %}
    {% for question in questions %}
     {{question}}: 
         {% if groupmember[3]==None %}
            {% for n in range(10) %}
            <input type=radio 
             name="{{username}}:{{project}}:{{groupmember[0]}}:{{tmp}}" 
             value={{n}}>{{n}} </input>
           {% endfor %}
          {% else %}
	        {% set gpm = groupmember %}
	        {% set slctd = gpm[3][tmp]|int %}

            {% for n in range(10) %}
	        {% if n is sameas slctd %}
                <input type=radio 
                 name="{{username}}:{{project}}:{{groupmember[0]}}:{{tmp}}" 
                 value={{n}} checked>{{n}}</input>
	        {% else %}
                <input type=radio 
                 name="{{username}}:{{project}}:{{groupmember[0]}}:{{tmp}}" 
                 value={{n}}>{{n}}</input>
	        {% endif %}
           {% endfor %}
          {% endif %}

{% set tmp = tmp + 1 %}
	        <p>
{%endfor%}

<hr>
{% endfor %}

{% endfor %}

  <p>


<input type=submit name=button value="Save">
<input type=submit name=button value="Cancel">

</form>
