<!doctype HTML>

<form action="" method="post">

<h1> Logged in as {{last}}, {{first}}</h1>

<hr>

<h2> Post Feedback for Project {{project}} below:</h2>

{% for groupmember in ratees %}
Rate {{groupmember}}:
     <br>
     {% set qnum = 0 %}
     {% for question in questions%}
       {{question}}:
       {% for n in range(9) %}
          <input type=radio name="{{project}}:{{groupmember}}:{{n}}:{{qnum}}" value={{n}}>{{n}} </input>
       {% endfor %}
          <input type=radio name="{{project}}:{{groupmember}}:10:{{qnum}}" value=10 checked>10 </input> 
       {% set qnum = qnum + 1 %}
      <br>
     {% endfor %}
<hr>
{% endfor %}

<input type=submit name=button value="Save">
<input type=submit name=button value="Cancel">

</form>
