<!doctype HTML>

<form action="" method="post" style= "background-color:#E0FFFF">
<font size = "10" face = "garamond"  color = "green">
<p></p>
<p></p>
<b>
Logged in as {{last}}, {{first}}
</b>
</font>
<p></p>
<hr>
<font size = "5" face = "garamond"  color = "green">
<h2> Post Feedback for Project {{project}} below:</h2>

{% for groupmember in ratees %}
<h3>Rate {{groupmember}}: </h3>
     <br>
     {% set tmp = 5 %}
     {% set qnum = 0 %}
     {% for question in questions%}
       {{question}}:
       {% for n in range(9) %}
       {% if n is sameas tmp %}
          <input type=radio name="{{project}}:{{groupmember}}:{{qnum}}:{{n}}" value={{n}} checked>{{n}} </input>
       {% else %}
          <input type=radio name="{{project}}:{{groupmember}}:{{qnum}}:{{n}}" value={{n}}>{{n}} </input>
       {% endif %}
       {% endfor %}
    
       {% set qnum = qnum + 1 %}
      <br>
     {% endfor %}
<hr>
{% endfor %}

<input type=submit name=button value="Save">
<input type=submit name=button value="Cancel">

</form>
