<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<p><h4>{{ ratername }}></h4></p>
<!--
<p>Previous rating: {{ mem1q1prev }}</p>
<p>Previous rating: {{ mem1q2prev }}</p>
<p>Previous rating: {{ mem1q3prev }}</p>
<p>Previous rating: {{ mem1q4prev }}</p>
<p>Previous rating: {{ mem2q1prev }}</p>
<p>Previous rating: {{ mem2q2prev }}</p>
<p>Previous rating: {{ mem2q3prev }}</p>
<p>Previous rating: {{ mem2q4prev }}</p>
<p>Previous rating: {{ mem3q1prev }}</p>
<p>Previous rating: {{ mem3q2prev }}</p>
<p>Previous rating: {{ mem3q3prev }}</p>
<p>Previous rating: {{ mem3q4prev }}</p>
-->

<hr>
<form action = "" method = "POST">
<p><b>{{ mem1 }}</b></p>
<p>{{ q1 }}</p>
<input type=radio name={{ mem1 }} value = 0>0</input>
<input type=radio name={{ mem1 }} value = 1>1</input>
<input type=radio name={{ mem1 }} value = 2>2</input>
<input type=radio name={{ mem1 }} value = 3>3</input>
<input type=radio name={{ mem1 }} value = 4>4</input>
<input type=radio name={{ mem1 }} value = 5>5</input>
<input type=radio name={{ mem1 }} value = 6>6</input>
<input type=radio name={{ mem1 }} value = 7>7</input>
<input type=radio name={{ mem1 }} value = 8>8</input>
<input type=radio name={{ mem1 }} value = 9>9</input>
<p>{{ q2 }}</p>
<input type=radio name={{ mem1 }} value = 0>0</input>
<input type=radio name={{ mem1 }} value = 1>1</input>
<input type=radio name={{ mem1 }} value = 2>2</input>
<input type=radio name={{ mem1 }} value = 3>3</input>
<input type=radio name={{ mem1 }} value = 4>4</input>
<input type=radio name={{ mem1 }} value = 5>5</input>
<input type=radio name={{ mem1 }} value = 6>6</input>
<input type=radio name={{ mem1 }} value = 7>7</input>
<input type=radio name={{ mem1 }} value = 8>8</input>
<input type=radio name={{ mem1 }} value = 9>9</input>
<p>{{ q3 }}</p>
<input type=radio name={{ mem1 }} value = 0>0</input>
<input type=radio name={{ mem1 }} value = 1>1</input>
<input type=radio name={{ mem1 }} value = 2>2</input>
<input type=radio name={{ mem1 }} value = 3>3</input>
<input type=radio name={{ mem1 }} value = 4>4</input>
<input type=radio name={{ mem1 }} value = 5>5</input>
<input type=radio name={{ mem1 }} value = 6>6</input>
<input type=radio name={{ mem1 }} value = 7>7</input>
<input type=radio name={{ mem1 }} value = 8>8</input>
<input type=radio name={{ mem1 }} value = 9>9</input>
<p>{{ q4 }}</p>
<input type=radio name={{ mem1 }} value = 0>0</input>
<input type=radio name={{ mem1 }} value = 1>1</input>
<input type=radio name={{ mem1 }} value = 2>2</input>
<input type=radio name={{ mem1 }} value = 3>3</input>
<input type=radio name={{ mem1 }} value = 4>4</input>
<input type=radio name={{ mem1 }} value = 5>5</input>
<input type=radio name={{ mem1 }} value = 6>6</input>
<input type=radio name={{ mem1 }} value = 7>7</input>
<input type=radio name={{ mem1 }} value = 8>8</input>
<input type=radio name={{ mem1 }} value = 9>9</input>

<hr>

<p><b>{{ mem2 }}</b></p>
<p>{{ q1 }}</p>
<input type=radio name={{ mem2 }} value = 0>0</input>
<input type=radio name={{ mem2 }} value = 1>1</input>
<input type=radio name={{ mem2 }} value = 2>2</input>
<input type=radio name={{ mem2 }} value = 3>3</input>
<input type=radio name={{ mem2 }} value = 4>4</input>
<input type=radio name={{ mem2 }} value = 5>5</input>
<input type=radio name={{ mem2 }} value = 6>6</input>
<input type=radio name={{ mem2 }} value = 7>7</input>
<input type=radio name={{ mem2 }} value = 8>8</input>
<input type=radio name={{ mem2 }} value = 9>9</input>
<p>{{ q2 }}</p>
<input type=radio name={{ mem2 }} value = 0>0</input>
<input type=radio name={{ mem2 }} value = 1>1</input>
<input type=radio name={{ mem2 }} value = 2>2</input>
<input type=radio name={{ mem2 }} value = 3>3</input>
<input type=radio name={{ mem2 }} value = 4>4</input>
<input type=radio name={{ mem2 }} value = 5>5</input>
<input type=radio name={{ mem2 }} value = 6>6</input>
<input type=radio name={{ mem2 }} value = 7>7</input>
<input type=radio name={{ mem2 }} value = 8>8</input>
<input type=radio name={{ mem2 }} value = 9>9</input>
<p>{{ q3 }}</p>
<input type=radio name={{ mem2 }} value = 0>0</input>
<input type=radio name={{ mem2 }} value = 1>1</input>
<input type=radio name={{ mem2 }} value = 2>2</input>
<input type=radio name={{ mem2 }} value = 3>3</input>
<input type=radio name={{ mem2 }} value = 4>4</input>
<input type=radio name={{ mem2 }} value = 5>5</input>
<input type=radio name={{ mem2 }} value = 6>6</input>
<input type=radio name={{ mem2 }} value = 7>7</input>
<input type=radio name={{ mem2 }} value = 8>8</input>
<input type=radio name={{ mem2 }} value = 9>9</input>
<p>{{ q4 }}</p>
<input type=radio name={{ mem2 }} value = 0>0</input>
<input type=radio name={{ mem2 }} value = 1>1</input>
<input type=radio name={{ mem2 }} value = 2>2</input>
<input type=radio name={{ mem2 }} value = 3>3</input>
<input type=radio name={{ mem2 }} value = 4>4</input>
<input type=radio name={{ mem2 }} value = 5>5</input>
<input type=radio name={{ mem2 }} value = 6>6</input>
<input type=radio name={{ mem2 }} value = 7>7</input>
<input type=radio name={{ mem2 }} value = 8>8</input>
<input type=radio name={{ mem2 }} value = 9>9</input>

<hr>

<p><b>{{ mem3 }}</b></p>
<p>{{ q1 }}</p>
<input type=radio name={{ mem3 }} value = 0>0</input>
<input type=radio name={{ mem3 }} value = 1>1</input>
<input type=radio name={{ mem3 }} value = 2>2</input>
<input type=radio name={{ mem3 }} value = 3>3</input>
<input type=radio name={{ mem3 }} value = 4>4</input>
<input type=radio name={{ mem3 }} value = 5>5</input>
<input type=radio name={{ mem3 }} value = 6>6</input>
<input type=radio name={{ mem3 }} value = 7>7</input>
<input type=radio name={{ mem3 }} value = 8>8</input>
<input type=radio name={{ mem3 }} value = 9>9</input>
<p>{{ q2 }}</p>
<input type=radio name={{ mem3 }} value = 0>0</input>
<input type=radio name={{ mem3 }} value = 1>1</input>
<input type=radio name={{ mem3 }} value = 2>2</input>
<input type=radio name={{ mem3 }} value = 3>3</input>
<input type=radio name={{ mem3 }} value = 4>4</input>
<input type=radio name={{ mem3 }} value = 5>5</input>
<input type=radio name={{ mem3 }} value = 6>6</input>
<input type=radio name={{ mem3 }} value = 7>7</input>
<input type=radio name={{ mem3 }} value = 8>8</input>
<input type=radio name={{ mem3 }} value = 9>9</input>
<p>{{ q3 }}</p>
<input type=radio name={{ mem3 }} value = 0>0</input>
<input type=radio name={{ mem3 }} value = 1>1</input>
<input type=radio name={{ mem3 }} value = 2>2</input>
<input type=radio name={{ mem3 }} value = 3>3</input>
<input type=radio name={{ mem3 }} value = 4>4</input>
<input type=radio name={{ mem3 }} value = 5>5</input>
<input type=radio name={{ mem3 }} value = 6>6</input>
<input type=radio name={{ mem3 }} value = 7>7</input>
<input type=radio name={{ mem3 }} value = 8>8</input>
<input type=radio name={{ mem3 }} value = 9>9</input>
<p>{{ q4 }}</p>
<input type=radio name={{ mem3 }} value = 0>0</input>
<input type=radio name={{ mem3 }} value = 1>1</input>
<input type=radio name={{ mem3 }} value = 2>2</input>
<input type=radio name={{ mem3 }} value = 3>3</input>
<input type=radio name={{ mem3 }} value = 4>4</input>
<input type=radio name={{ mem3 }} value = 5>5</input>
<input type=radio name={{ mem3 }} value = 6>6</input>
<input type=radio name={{ mem3 }} value = 7>7</input>
<input type=radio name={{ mem3 }} value = 8>8</input>
<input type=radio name={{ mem3 }} value = 9>9</input>

<hr>

<p><input type = "submit" value = "Submit"></p>
</form>
</html>
